@import "../../styles/variables.scss";
.authorization {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	height: 100vh;
	padding-bottom: 140px;
	background: url("/assets/images/wave.png") bottom/100% auto no-repeat;
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 1 1 auto;
	}
	&__lang {
		list-style: none;
		display: flex;
		flex-direction: row;
		gap: 20px;
		margin-bottom: 90px;
		li {
			font-weight: 700;
			font-size: 16px;
			line-height: 20px;
			letter-spacing: 0.05em;
			color: $thirdly-color;
			cursor: pointer;
			transition: $transition;
			&:hover {
				color: $secondary-color;
			}
		}
	}
	&__company {
		display: flex;
		flex-direction: row;
		gap: 10px;
		margin-bottom: 50px;
		&-name {
			text-transform: uppercase;
			&-title {
				font-weight: 700;
				font-size: 14px;
				line-height: 17px;
				letter-spacing: 0.05em;
			}
			&-subtitle {
				font-weight: 400;
				font-size: 9px;
				line-height: 11px;
				letter-spacing: 0.1em;
			}
		}
	}
	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 25px;
	}
	&__enter-tabs {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 10px;
		&-item {
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			padding: 15px 30px;
			background-color: $white-color;
			border-radius: 32px;
			cursor: pointer;
			transition: $transition;

			&-active {
				background-color: $secondary-color;
				color: white;
			}
		}
	}
	&__form {
		display: none;
		&-active {
			display: flex;
			flex-direction: column;
		}
		&-item {
			position: relative;
			background: $white-color;
			box-shadow: 0px 8px 50px rgba(210, 232, 254, 0.4);
			border-radius: 5px;
			padding: 14px 20px 14px 20px;
			vertical-align: middle;
			margin-bottom: 10px;
			width: 420px;
			min-height: 48px;
			height: fit-content;
			vertical-align: middle;
			&-active {
				border: 1px solid #f19797;
				i svg path {
					stroke: #f19797;
				}
			}
			&-icon {
				z-index: 6;
				position: absolute;
			}
			&-input {
				background-color: transparent;
				position: absolute;
				top: 0;
				left: 0;
				border: none;
				outline: none;
				font-weight: 400;
				font-size: 16px;
				line-height: 20px;
				padding: 14px 50px 14px 60px;
				width: 100%;
				height: 100%;

				&-show {
					position: absolute;
					right: 20px;
					cursor: pointer;
					svg path {
						stroke: $thirdly-color;
					}
				}
				&-hide {
					position: absolute;
					right: 20px;
					cursor: pointer;
				}
			}
		}
		&-button {
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			color: $white-color;
			padding: 15px 30px;
			background-color: $secondary-color;
			border-radius: 24px;
			border: 1px solid $secondary-color;
			margin: 30px auto;
			transition: $transition;
			&:hover {
				background-color: $white-color;
				color: $secondary-color;
			}
		}
		&-error {
			display: none;
			&-active {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background-color: #f19797;
				border-radius: 5px;
				font-weight: 400;
				font-size: 14px;
				line-height: 17px;
				color: $white-color;
				white-space: wrap;
				text-align: center;
				padding: 19px 10px;
				gap: 5px;
				max-width: 422px;
			}
		}
		&-file {
			position: relative;
			text-align: center;
			background: $white-color;
			box-shadow: 0px 8px 50px rgba(210, 232, 254, 0.4);
			border-radius: 5px;
			padding: 14px 96px;
			cursor: pointer;
			input {
				opacity: 0;
				position: absolute;
			}
			&-icon {
				cursor: pointer;
			}
			&-text {
				cursor: pointer;
				font-weight: 400;
				font-size: 16px;
				line-height: 20px;
				margin-left: 20px;
			}
		}
	}
	&__pass-forgot {
		text-decoration: none;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: $secondary-color;
		cursor: pointer;
		transition: $transition;
		&:hover {
			text-decoration: underline;
			color: $secondary-color;
		}
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}
